@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(5%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

#app {
  animation: fadeIn 1s normal;
}

.container {
  margin-top: 20px;
  font-weight: bold;
}

.middle-title-container {
  margin-top: 20px;
  margin-left: 20px;
}
